#include <stdio.h>
#include <stdlib.h>

    // example of derefrencing a pointer

int main()

{

  char *p_ch;
  char ch1 = 'A';
  char ch2;

  printf("The address of p_ch is:%p\n",&p_ch);

  p_ch = &ch1;
  //ch2 = *p_ch;
  printf("The value stored at p_ch is:%p\n",p_ch);

  //ch2 = *p_ch;
  printf("The dereference value of p_ch is %c\n",*p_ch);
  //ch2 = *p_ch;

    return 0;
